body {
    background: #e4e7ed;
    color: #918C89;
}
.main {
    width: 75%;
    overflow: hidden;
    margin: auto;
}

.content {
    margin: auto;
    width: 80%;
    float: left;
    border: 1px solid black;
    display: inline-block;
}

.sidebar {
    width: 20%;
    overflow: hidden;
    margin-left: 81%;
    display: inline-block;
}

.footer {
    background: #8d8199;
    color: black;
}

.header {
    color: #DF7E6F;
    text-align: center;
}